# IntelliJ project directory
/.idea/

# Vagrant VM directory
/.vagrant/

# scripts directory (for development)
/scripts/

# license template for minimized version (for development)
/src/license-header-template.json

# tests directory (for development)
/tests/

.doclets.yml
.editorconfig
.eslintrc.js
.gitattributes
.npmignore
.publish.json
.travis.yml
vagrantfile
